.btn {
  padding: .5rem;
  aspect-ratio: 1/1;
  width: 100%;
  background: none;
  border: 3px solid black;
  border-radius: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.btn.active {
  background-color: #16A085;
  color: white;
}

.btn.inactive {
  opacity: .3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: #F4D03F;
}